<script type="text/x-handlebars-template" id="root-main-template">
  <div id="contenido">
    <h1>Examen NextCloud</h1>
    <h4>Autor: Arturo Iván Domínguez García</h4>
    <div>
      <a href="#productos">CRUD de Productos</a>
    </div>
  <div>
</script>
