<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/icons/icon.png">
        <title>ExamenNC</title>
        <meta name="description" content="Write a description">
        <meta name="viewport" content="width=device-width">
        <!-- edit under your own risk -->
          <link type="text/css" rel="stylesheet" href="main.css?0.0.1">
        <!-- /edit under your own risk -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="container" role="application"></div>

        <!-- edit under your own risk -->
          <script type="text/x-handlebars-template" id="root-main-template">
  <div id="contenido">
    <h1>Examen NextCloud</h1>
    <h4>Autor: Arturo Iván Domínguez García</h4>
    <div>
      <a href="#productos">CRUD de Productos</a>
    </div>
  <div>
</script>

          <script type="text/x-handlebars-template" id="productos-editar-template">
  <h4>Editar <button id="btnEliminar" class="btn btn-danger">Eliminar</button></h4>

  <div class="form-group">
    <label for="id">Clave</label>
    <input type="text" class="form-control" id="id" placeholder="Ingrese la clave del producto" value="{{ producto.id }}" readonly>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto" value="{{ producto.nombre }}">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="text" class="form-control" id="precio" placeholder="Ingrese el precio del producto" value="{{ producto.precio }}">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="btnGuardarEdicion">Guardar</button>
    <button class="btn btn-default" id="btnCancelarEdicion">Cancelar</button>
  </div>
</script>
          <script type="text/x-handlebars-template" id="productos-lista-template">
  <table class='table table-condensed table-striped table-hover'>
  	<thead>
  		<tr>
  			<th>Clave</th>
  			<th>Producto</th>
  			<th>Precio</th>
  		</tr>
  	</thead>
  	<tbody>
  		{{# each productos }}
  			<tr id="p_{{ id }}" class="selectable">
  				<td>{{ id }}</td>
  				<td>{{ nombre }}</td>
  				<td>$ {{ precio }}</td>
  			</tr>
  		{{/ each }}
  	</tbody>
  </table>  
</script>

          <script type="text/x-handlebars-template" id="productos-main-template">
  <div id="contenido">
    <h1>Productos</h1>
  
  
    <div id="menu">
      <button id="btnNuevo" class="btn btn-default">Nuevo</button>
    </div>

    <div id="resultados"></div>

  </div>
  
</script>

          <script type="text/x-handlebars-template" id="productos-nuevo-template">
  <h4>Nuevo</h4>
  <div class="form-group">
    <label for="id">Clave</label>
    <input type="text" class="form-control" id="id" placeholder="Ingrese la clave del producto">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="text" class="form-control" id="precio" placeholder="Ingrese el precio del producto">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="btnGuardar">Guardar</button>
    <button class="btn btn-default" id="btnCancelar">Cancelar</button>
  </div>
</script>

          <script type="text/javascript" src="main.js?0.0.1"></script>
        <!-- /edit under your own risk -->
    </body>
</html>
