<script type="text/x-handlebars-template" id="productos-editar-template">
  <h4>Editar <button id="btnEliminar" class="btn btn-danger">Eliminar</button></h4>

  <div class="form-group">
    <label for="id">Clave</label>
    <input type="text" class="form-control" id="id" placeholder="Ingrese la clave del producto" value="{{ producto.id }}" readonly>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto" value="{{ producto.nombre }}">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="text" class="form-control" id="precio" placeholder="Ingrese el precio del producto" value="{{ producto.precio }}">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="btnGuardarEdicion">Guardar</button>
    <button class="btn btn-default" id="btnCancelarEdicion">Cancelar</button>
  </div>
</script>