<script type="text/x-handlebars-template" id="productos-lista-template">
  <table class='table table-condensed table-striped table-hover'>
  	<thead>
  		<tr>
  			<th>Clave</th>
  			<th>Producto</th>
  			<th>Precio</th>
  		</tr>
  	</thead>
  	<tbody>
  		{{# each productos }}
  			<tr id="p_{{ id }}" class="selectable">
  				<td>{{ id }}</td>
  				<td>{{ nombre }}</td>
  				<td>$ {{ precio }}</td>
  			</tr>
  		{{/ each }}
  	</tbody>
  </table>  
</script>
