<script type="text/x-handlebars-template" id="productos-main-template">
  <div id="contenido">
    <h1>Productos</h1>
  
  
    <div id="menu">
      <button id="btnNuevo" class="btn btn-default">Nuevo</button>
    </div>

    <div id="resultados"></div>

  </div>
  
</script>
