<script type="text/x-handlebars-template" id="productos-nuevo-template">
  <h4>Nuevo</h4>
  <div class="form-group">
    <label for="id">Clave</label>
    <input type="text" class="form-control" id="id" placeholder="Ingrese la clave del producto">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="text" class="form-control" id="precio" placeholder="Ingrese el precio del producto">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="btnGuardar">Guardar</button>
    <button class="btn btn-default" id="btnCancelar">Cancelar</button>
  </div>
</script>