@import "variables.less";

body {
  background: @grey !important;
  margin: 0;
  padding: 0;
}

#contenido{
  background: @white;
  width: 1024px;
  margin: auto;
  padding: 20px;
}

#menu{
  border-top: 1px solid @lightgrey;
  border-bottom: 1px solid @lightgrey;
  padding: 10px;
}

.selectable{
  cursor: pointer
}